{% extends 'app/base.html' %} {% load static %} {% block title %} Home
{%endblock title %} {% block style %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock style %} {% block content %}
<div class="dashboard-container">
  <header>
    <h1>HỆ THỐNG IOT PHÂN LOẠI RÁC THẢI</h1>
    <p>Hỗ trợ giám sát và quản lý rác thải</p>
  </header>

  <div class="user-toolbar">
    <select id="trash-area-select">
      {% for trash_area in trash_areas %}
      <option value="{{trash_area.id}}">{{trash_area.position}}</option>
      {% endfor %}
    </select>
    <a href="/api/logout" id="logout-button">Đăng xuất</a>
  </div>

  <section class="main-content">
    <div class="chart-section">
      <div class="chart-buttons">
          <button onclick="showChart('pie')" class="chart-button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" width="20" height="20">
              <path d="M304 240l0-223.4c0-9 7-16.6 16-16.6C443.7 0 544 100.3 544 224c0 9-7.6 16-16.6 16L304 240zM32 272C32 150.7 122.1 50.3 239 34.3c9.2-1.3 17 6.1 17 15.4L256 288 412.5 444.5c6.7 6.7 6.2 17.7-1.5 23.1C371.8 495.6 323.8 512 272 512C139.5 512 32 404.6 32 272zm526.4 16c9.3 0 16.6 7.8 15.4 17c-7.7 55.9-34.6 105.6-73.9 142.3c-6 5.6-15.4 5.2-21.2-.7L320 288l238.4 0z"/>
            </svg>
          </button>
          <button onclick="showChart('bar')" class="chart-button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="20" height="20">
              <path d="M160 80c0-26.5 21.5-48 48-48l32 0c26.5 0 48 21.5 48 48l0 352c0 26.5-21.5 48-48 48l-32 0c-26.5 0-48-21.5-48-48l0-352zM0 272c0-26.5 21.5-48 48-48l32 0c26.5 0 48 21.5 48 48l0 160c0 26.5-21.5 48-48 48l-32 0c-26.5 0-48-21.5-48-48L0 272zM368 96l32 0c26.5 0 48 21.5 48 48l0 288c0 26.5-21.5 48-48 48l-32 0c-26.5 0-48-21.5-48-48l0-288c0-26.5 21.5-48 48-48z"/>
            </svg>
          </button>
      </div>
      <canvas id="chart-section-pie" width="600" height="400"></canvas>
      <canvas id="chart-section-bar" width="600" height="400" style="display: none;"></canvas>
    </div>

    <div class="progress-section">
      <!-- Progress Bars -->
      <h2>Tình trạng rác hiện tại</h2>
      <div id="progress-bar-group" class="progress-bar-group">
      </div>
    </div>
  </section>

  <section class="gallery">
    <div class="gallery-header">
      <h2>Ảnh rác nhận diện</h2>
      <select id="trash-compartment-select" onchange="filterTrash()">
      </select>
    </div>

    <div id="trash-data-container" class="image-scroll">
    </div>
  </section>
</div>
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}
